/*
 * Author: Fatai Lawanson
 * Created: 17-Jun-2014
 * Last Modified: 17-Jun-2014 
 * Styling for header
 * */
nav{
	width:110px;
	height:100%;
	position: fixed;
	background-color: #222;
	color: #555;
	text-align: center;
	padding-top:200px;
	z-index: -1;
}

nav img{ 
	width: 90px;
}

